.slider-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    background-color: #F5F5F5;
    /*font-family:"Segoe Print"!important;*/
}

.slider-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    border: 0;
    border-radius: 20px 20px;
    box-shadow:0 0 40px black;
}

.slider-block>h1{
    /*font-family: 'Courgette', cursive;*/
    font-size: 34px;
}

.slider-block>p{
    display: flex;
    width: 90%;
    /*font-family: 'Indie Flower', cursive;*/
    font-size: 22px;
    text-decoration: underline;
    font-weight: bolder;
}

.legend{
    opacity: 0.5!important;
    font-size: 22px!important;
    color:white!important;
    font-weight: bold!important;
    /*font-family: 'Courgette', cursive;*/
}
.legend:hover{
    opacity: 0.85!important;
}

.img{
    width: 100%;
    height: 100%;
}

.carusel{
    height: 40%!important;
    width: 70%; 
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    z-index: -1!important;
}



@media (max-device-width:786px){
    .carusel{
        width: 80%!important; 
        height: 40%!important;
    }
    .legend{
        font-size: 20px!important;
        opacity: 0.65!important;
    }
    .slider-block>p{
        font-size: 20px;
    }
}

@media (max-device-width:425px){
    .carusel{
        width: 90%!important; 
        height: 40%!important;
    }
    .legend{
        font-size: 18px!important;
    }
    .slider-block>p{
        font-size: 18px;
    }
    .slider-block>h1{
        font-size: 32px;
    }
}
